.NavLink {
	position: relative;
	padding: 0.5rem 1rem;
	margin: 0 4px;
	text-align: center;
	transition: color 0.15s ease-in-out;
	span {
		font-size: 16px;
		color: var(--chakra-colors-brand-white-default);
		white-space: nowrap;
		font-weight: bold;
		font-style: italic;
	}
	&:hover, &Active {
		span {
			color: var(--chakra-colors-brand-primary-default);
		}
		+ .NavLink__dropdown {
			display: flex;
			flex-direction: column;
		}
	}
	&__dropdown {
		display: none;
		padding: 12px 8px;
		position: absolute;
		background-color: white;
		box-shadow: 0px 0px 10px -5px black;
		border-radius: 4px;
		.NavLinkSub {
			padding: 8px;
			span {
				color: var(--chakra-colors-brand-black-default);
				font-weight: bold;
				font-size: 14px;
			}
			&:hover {
				span {
					color: var(--chakra-colors-brand-black-default)
				}
			}
		}
		&:hover {
			display: flex;
			flex-direction: column;
		}
	}
	&__CTA {
		background-color: var(--chakra-colors-brand-primary-default);
		
		border-radius: 8px;
		transition: 0.15s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
		height: fit-content;
		font-size: 24px;
		span {
			color: var(--chakra-colors-brand-black-default) !important;
		}
		&:hover {
			background-color: var(--chakra-colors-brand-primary-hover);
			color: var(--chakra-colors-brand-black-hover) !important;
		}
	}
}