html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--chakra-colors-brand-secondary-default) !important;
  font-family: 'Kanit', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 800;
  font-style: italic;
	line-height: 1,
}
h1,h2,h3,h4,h5,h6, p,li {
	color: var(--chakra-colors-brand-white-default)
}

h1 {
	font-size: 80px !important;
}
h2 {
	font-size: 64px !important;
}
h3 {
	font-size: 48px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.LINK {
	color: var(--chakra-colors-brand-primary-default);
	text-decoration: underline;
	font-weight: bold;
}
p {
	line-height: 1.5;
	color: var(--chakra-colors-brand-black-default);
}
img {
  min-width: 0;
}