html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--chakra-colors-brand-black-default) !important;
  font-family: 'Kanit', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700 !important;
  	font-style: italic !important;
	line-height: 1 !important;
}
h1,h2,h3,h4,h5,h6, p,li {
	color: var(--chakra-colors-brand-white-default)
}

h1, h2, h3 {
	margin-bottom: 16px !important;
}

h1 {
	font-size: 64px !important;
	color: var(--chakra-colors-brand-primary-default);
	@media(max-width: 30em) {
		font-size: 42px !important;
	}
}
h2 {
	font-size: 48px !important;
	@media(max-width: 30em) {
		font-size: 36px !important;
	}
}
h3 {
	font-size: 36px !important;
	@media(max-width: 30em) {
		font-size: 32px !important;
	}
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.LINK {
	color: var(--chakra-colors-brand-primary-default);
	text-decoration: underline;
	font-weight: bold;
}
ul {
	padding-left: 32px !important;
}
p,li {
	line-height: 1.5;
	color: var(--chakra-colors-brand-black-default);
	font-weight: 400;
	margin-bottom: 16px !important;
}
img {
  min-width: 0;
}